/**
 * solarized dark colorscheme:
 *
 * base03    #002b36
 * base02    #073642
 * base01    #586e75
 * base00    #657b83
 * base0     #839496
 * base1     #93a1a1
 * base2     #eee8d5
 * base3     #fdf6e3
 * yellow    #b58900
 * orange    #cb4b16
 * red       #dc322f
 * magenta   #d33682
 * violet    #6c71c4
 * blue      #268bd2
 * cyan      #2aa198
 * green     #859900
 */

* {
    border-radius: 0;
    font-family: cozette;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0); /* transparent */
}

#tags {
    margin-top: 8px;
    margin-left: 8px;
    padding: 1px;
    background-color: #073642; /*base02*/
    border: 2px solid #93a1a1; /*base1*/
}

#tags button {
    margin: 1px;
    padding: 1px;
    color: #93a1a1; /*base1*/
    border: 2px solid #073642; /*base02*/
    
    /* Disable animation on click, GTK has the stupidest defaults */
    transition-property: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #073642; /*base02*/
}

#tags button.focused {
    color: #073642; /*base02*/
    background-color: #93a1a1; /*base1*/
    border: 2px solid #073642; /*base02*/
}

#tags button.occupied {
    border: 2px solid #93a1a1; /*base1*/
}

#tags button.urgent {
    border: 2px solid #dc322f; /*red*/
}

#tags button.occupied.urgent {
    border: 2px solid #dc322f; /*red*/
}

#tags button.focused.occupied {
    color: #073642; /*base02*/
    background-color: #93a1a1; /*base1*/
    border: 2px solid #93a1a1; /*base1*/
}

#clock,
#mode,
#cpu,
#memory,
#network,
#temperature {
    padding: 1px 5px;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #073642; /*base02*/
    color: #93a1a1; /*base1*/
    border: 2px solid #93a1a1; /*base1*/
}

#temperature {
    margin-right: 8px;
}

#clock {
    margin-left: 0px;
    margin-right: 0px;
}

#cpu.warning,
#memory.warning {
    border: 2px solid #b58900; /*yellow*/
}

#cpu.critical,
#memory.critical,
#temperature.critical {
    border: 2px solid #dc322f; /*red*/
}
